.gallery{
    margin: 10px 50px ;
}

.gallery img{
    transition: 0.2s;
    padding: 15px;
    width: 200px;
    height: 200px;
}

.gallery img:hover{
    transform: scale(1.03);
}

.article {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    border:1px solid #a3a2a2;


}

.price {
    font-weight: bold;
    background-color: #3CB371FF;
    display: flex;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    padding: 4px;
    margin: 10px 5px 10px 10px;
}
body {
    background-color: #f3f3f3 !important;
}
.label {
    font-weight: bold;
}

.comment {
    margin:10px;
    padding: 10px;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
}
.button {
    background-color: #21262d;
    color: #fff;
    border:1px solid #fff;
    border-radius: 3px;
    padding: 6px 10px 6px 10px;
}
.delete-reservation-button {
    background-color: #dc3545;
    color: #fff;
    border-radius: 50%;
    border-color: #dc3545;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5;
}
.delete-reservation-button:hover{
    background-color: #ff384b;
}


.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.form {
    background-color: #fff;
    border:1px solid #a3a2a2;
    border-radius: 5px;
    padding: 20px;
    margin: 40px 0px 40px 0px ;
}
.rating {
    display: flex;
    justify-content: center;
    background-color: #003580;
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    margin: 10px 5px 10px 10px;
}

*{
    overflow-wrap: anywhere;
}

.right-side {
    position: relative;
    float: right;
}

.paginator {
    text-align: center;

}

.paginator-list {
    border-top: 1px solid #CFE3DC;
    font-weight: 700;
    line-height: 31px;
    list-style: none;
    margin: 30px 0;
    padding: 30px 0 0;
    text-align: center;

}

.pag-link{
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    margin-right: 30px;
    top: 0px;

    /*height: 50px;*/
}

.pag-link a {
    /*font-family: Arial, Helvetica, sans-serif;*/
    text-decoration: none;
    font-weight: bolder;
    height: 50px;
    width: auto;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    color: #cccccc;
    background-color: #21262d;
    border-radius: 50%;
    text-indent: 1px;
    border-radius: 20px;
    height: 40px;
    line-height: 43px;
    width: 40px;
}


.pag-link a:hover {
    text-decoration: none;
    color: #cccccc;


}
.card-img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}
.content-section {
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 6px;
    margin-bottom: 20px;
}

.reservations {
    display: inline-grid;
    grid-template-columns: 200px 200px;
    gap: 5px;

}

.reservation {
    text-align: center;
    padding: 10px;
}
