{% extends 'places/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group" >
            {% if update%}
                <legend class="border-bottom mb-4">Update "{{object.name}}"</legend>
            {% else %}
                <legend class="border-bottom mb-4">Create New Place</legend>
            {%endif%}
            {{ form|crispy}}
            <legend>Add Images</legend>
            {{ image_form|crispy }}
            <div class="form-group">
                {% if update %}
                    <legend>Remove Old Images</legend>
                    <div class="form-images">
                        {% for image in object.images.all %}
                            <div class="form-image" id="image-{{ image.id }}">
                                <img src="{{ image.image.url }}"  alt="{{ object.name }}">
                                <div style="text-align: right;position: absolute; right: 5px;top:2px;" >
                                    <p class="delete-image-button" onclick="delete_image({{ image.id }})" id="delete_image">X</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-outline-info">Update</button>
                {% else %}
                    <button type="submit" class="btn btn-outline-info">Add</button>
                {%endif%}
            </div>
        </fieldset>
    </form>
{% endblock %}