{% extends 'places/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load tags %}
{% block content %}

    <article class=" article">
        <div class="right-side">
            <h4 class="price">{{ object.price}} $</h4>
            <h4 class="rating">{{ object.score }}</h4>
        </div>
        <h2 class="card-title">Name: {{ object.name }}</h2>
        <p><span class="label">City: </span>{{ object.city }}</p>
        <p><span class="label">Address: </span>{{ object.address }}</p>
        <p><span class="label">Posted: </span>{{ object.date_posted|date:"d, M, Y " }}</p>
        <br>
        <div class="gallery">
            {% for image in object.images.all %}
                <a href="{{ image.image.url }}" data-lightbox="image">
                    <img src="{{ image.image.url }}" alt="{{ object.name }}">
                </a>
            {% endfor %}
        </div>
        <br>
        <br>
        <p class="card-text"><span class="label">Description: </span><br>{{object.description}}</p>
        {% if object.owner.id == user.id %}
            <div>
                <a class="btn btn-outline-primary" href="{% url 'place_update' object.id %}" >Update Place</a>
                <a class="btn btn-outline-danger" href="{% url 'place_delete' object.id %}" >Delete Place</a>
            </div>
        {% endif %}
        <div style="text-align: right">
            <button class="btn button" onclick="create_reservation_form()" id="make_reservation">Make Reservation</button>
        </div>
        <div id="reservation_form"></div>
    </article>

    {% for reservation in object.reservations.all %}
        <article class="article">
        <p>{{ reservation.date }}</p>
        <p>{{ reservation.start_hour }}</p>
        <p>{{ reservation.end_hour }}</p>
        </article>

    {% endfor %}
    <h1>Reviews({{object.reviews.all.count}})</h1>
    {% if object.reviews.all.count != 0  %}
        <ul class="list-group" >
            {% for review in object.reviews.all %}
                <div class="comment" >
                    <div class="media-body form-group">
                        <div class="article-metadata">
                            <div class="right-side">
                                <p class="rating">{{ review.score }}</p>
                            </div>
                            <p>{{ review.author }}</p>
                            <small class="text-muted">{{ review.date|date:"d, M, Y "  }}</small>
                        </div>
                        <p class="comment-child">{{review.comment}}</p>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p> No Reviews yet</p>
    {% endif %}
    <form method="POST" onsubmit="submit_button.disabled=true; return true;" class="form" action="{%url 'place_detail' object.id%}" >
        {% csrf_token %}
        {{review_form|crispy}}
        <button type="submit" class="btn button"  value="Submit" name="submit_button">Add Review</button>
    </form>
    <script type="text/javascript">
        function create_reservation_form(){
            let reservation_button = document.getElementById('make_reservation');
            let reservation_div = document.getElementById('reservation_form');
            reservation_div.innerHTML = `
                    <form method="POST" onsubmit="submit_button.disabled=true; return true;" class="form" action="{%url 'place_detail' object.id%}" >
                         {% csrf_token %}
                         {{res_form|crispy}}
                         <button type="submit" class="btn button"  value="Submit" name="submit_button">Add Review</button>
                    </form>`;
        }

    </script>
{% endblock %}



{% block side_content %}
    {% if user|has_reservation:object.id %}
        <article class="article">
            <h4>Owner: {{ object.owner.full_name }}</h4>
            <p><img src="{% static 'icons/mobile.png' %}" width="20px" > {{ object.owner.phone_number }}</p>
            <p><img src="{% static 'icons/email.png' %}" width="20px" > {{ object.owner.email }}</p>
        </article>
    {% endif %}
{% endblock %}
