{% extends 'places/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% for object in objects %}
        <article class=" mb-3" style="">
            <div class="card" style="flex-direction: row;">
                <img src="{{object.images.first.image.url}}"  class="card-img card-img-top" alt="image">
                <div class="card-body">
                    <div class="right-side">
                        <p class="price">{{ object.price}} $</p>
                        <p class="rating">{{ object.score }}</p>
                    </div>
                    <h3 class="card-title">{{ object.name }}</h3>
                    <small>{{ object.city }}</small>
                    {% if object.description|length > 30 %}
                        <p class="card-text">{{object.description|truncatechars:100 }}</p>
                    {% else %}
                        <p class="card-text">{{object.description}}</p>
                    {% endif %}
                    <a href="{% url 'place_detail' object.id %}" class="btn btn-primary">See Details</a>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock %}

{% block side_content %}
    <form class="form" method="get">
        <fieldset class="form-group" >
            <legend class="border-bottom mb-4">Filter Places</legend>
            {{ filter.form|crispy}}
            <input type="submit" value="Filter" class="btn btn-info" />
        </fieldset>
    </form>
{% endblock %}
