{% extends 'places/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load tags %}
{% block content %}

    <article class=" article">
        <div class="right-side">
            <h4 class="price">{{ object.price}} $</h4>
            <h4 class="rating">{{ object.score }}</h4>
        </div>
        <h2 class="card-title">Name: {{ object.name }}</h2>
        <p><span class="label">City: </span>{{ object.city }}</p>
        <p><span class="label">Address: </span>{{ object.address }}</p>
        <p><span class="label">Posted: </span>{{ object.date_posted|date:"d, M, Y " }}</p>
        <br>
        <div class="gallery">
            {% for image in object.images.all %}
                <a href="{{ image.image.url }}" data-lightbox="image">
                    <img src="{{ image.image.url }}" alt="{{ object.name }}">
                </a>
            {% endfor %}
        </div>
        <br>
        <br>
        <p class="card-text"><span class="label">Description: </span><br>{{object.description}}</p>
        {% if object.owner.id == user.id %}
            <div>
                <a class="btn btn-outline-primary" href="{% url 'place_update' object.id %}" >Update Place</a>
                <a class="btn btn-outline-danger" href="{% url 'place_delete' object.id %}" >Delete Place</a>
            </div>
        {% endif %}
        <div style="text-align: right">
            <button class="btn button"  id="make_reservation">Make Reservation</button>
        </div>
        <div id="reservation_form"></div>
    </article>

    <h1>Reviews({{object.reviews.all.count}})</h1>
    {% if object.reviews.all.count != 0  %}
        <ul class="list-group" >
            {% for review in object.reviews.all %}
                <div class="comment" >
                    <div class="media-body form-group">
                        <div class="article-metadata">
                            <div class="right-side">
                                <p class="rating">{{ review.score }}</p>
                            </div>
                            <p>{{ review.author }}</p>
                            <small class="text-muted">{{ review.date|date:"d, M, Y "  }}</small>
                        </div>
                        <p class="comment-child">{{review.comment}}</p>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p> No Reviews yet</p>
    {% endif %}
    <button class="btn button" id="add_review">Add Review</button>
    <div id="review_form_div"></div>
{% endblock %}

{% block side_content %}
    {% if user|has_reservation:object.id %}
        <article class="article">
            <h4>Owner: {{ object.owner.full_name }}</h4>
            <p><img src="{% static 'icons/mobile.png' %}" width="20px" > {{ object.owner.phone_number }}</p>
            <p><img src="{% static 'icons/email.png' %}" width="20px" > {{ object.owner.email }}</p>
        </article>
    {% endif %}
    {% if object.reservations.all|length  > 0 %}
        <legend>Existing Reservations</legend>
        <div class="reservations">
            {% for reservation in object.reservations.all %}
                <div class="card text-white bg-success" id="reservation-{{ reservation.id }}" style="max-width: 28rem;">
                    {% if reservation.author == user %}
                        <div style="text-align: right;position: absolute; right: 5px;top:2px">
                            <button class="delete-reservation-button" title="Delete" onclick="delete_reservation({{ reservation.id }})" id="delete_reservation">X</button>
                        </div>
                    {% endif %}
                    <div class="reservation">
                        <p class="card-title border-bottom">{{ reservation.date|date:"d, M, Y " }}</p>
                        <p class="card-text">{{ reservation.start_hour|time:"H:i" }} - {{ reservation.end_hour|time:"H:i"}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>no reservations</h3>
    {% endif %}
    <script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
{% endblock %}
